* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #252326;
}

/*fin de reset*/
@font-face {
  font-family: gisrida;
  src: url(../assets/Fonts/gisrida.ttf);
}

@font-face {
  font-family: gotham-italic;
  src: url(../assets/Fonts/GothamBookItalic.ttf);
}

/* fin de fonts*/
.hero {
  height: 80vh;
}

.main__h1 {
  color: #252326;
  font-style: normal;
  font-size: 6rem;
  font-family: gisrida;
}

.main__h2 {
  color: #252326;
  font-size: 2.5rem;
  font-family: gotham-italic;
}

.text__deco {
  text-decoration: none;
}

/*fin de hero*/
.section__height {
  height: 60vh;
  border-radius: 5px;
  background-color: darkgrey;
  margin-left: -11px;
  margin-right: -0px;
}

.video {
  max-width: 100%;
}

.main__h22 {
  color: #252326;
  font-style: normal;
  font-size: 2.5rem;
  font-family: gisrida;
}

.main__parragraph {
  font-size: 1.5rem;
  font-family: gotham-italic;
}

.card {
  border-radius: 10px;
  min-height: 200px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-color: #252326;
  color: white;
}

.textos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr 2fr;
      grid-template-rows: 3fr 1fr 2fr;
}

.clientes__h2 {
  color: white;
  font-size: 2rem;
  font-family: gotham-italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.client__parragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-family: gotham-italic;
}
