* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: white;
}

.img__box {
  max-width: 40%;
}

/*BS modifications*/
.btn {
  text-decoration: none;
  color: black;
}

.btn:hover, .btn:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: white;
}

.container-fluid {
  padding: 10px;
}

/*fin de reset*/
@font-face {
  font-family: gisrida;
  src: url(../assets/Fonts/gisrida.ttf);
}

@font-face {
  font-family: gotham-italic;
  src: url(../assets/Fonts/GothamBookItalic.ttf);
}

/* fin de fonts*/
.main {
  height: 80vh;
}

.main__h1 {
  color: #252326;
  font-style: normal;
  font-size: 6rem;
  font-family: gisrida;
}

.main__h2 {
  color: #252326;
  font-size: 3rem;
  font-family: gotham-italic;
}

.main__deco {
  text-decoration: none;
}

.main__link:link, .main__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media screen and (max-width: 768px) {
  .main__h1 {
    font-size: 4rem;
  }
  .main__h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .main__h1 {
    font-size: 2rem;
  }
  .main__h2 {
    font-size: 1rem;
  }
}

/*fin de hero*/
.section {
  height: 60vh;
  border-radius: 5px;
  background-color: darkgrey;
  margin-left: -11px;
  margin-right: -0px;
}

.section__video {
  max-width: 100%;
}

.section__h2 {
  margin: 3.5%;
  text-align: center;
  color: #252326;
  font-style: normal;
  font-size: 3rem;
  font-family: gisrida;
}

.section__p {
  font-size: 1.5rem;
  font-family: gotham-italic;
}

@media screen and (max-width: 768px) {
  .section {
    height: 70vh;
  }
  .section__h2 {
    font-size: 1.5rem;
  }
  .section__p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .section {
    height: 60vh;
  }
  .section__h2 {
    font-size: 1rem;
  }
  .section__p {
    font-size: 0.8rem;
  }
  .section__video {
    display: none;
  }
}

.clientes {
  max-width: 100%;
}

.clientes__carta {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.clientes__textos {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  background-color: #252326;
  color: white;
}

.clientes__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  font-size: 2rem;
  font-family: gotham-italic;
}

.clientes__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-family: gotham-italic;
}

@media screen and (max-width: 768px) {
  .clientes__h1 {
    font-size: 4rem;
  }
  .clientes__p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .clientes__h1 {
    font-size: 2rem;
  }
  .clientes__p {
    font-size: 0.8rem;
  }
}

.conociendo {
  height: 90vh;
  border-radius: 5px;
  background-color: darkgrey;
  margin-left: -11px;
  margin-right: -0px;
}

@media screen and (max-width: 768px) {
  .conociendo {
    height: 70vh;
  }
}

@media screen and (max-width: 375px) {
  .conociendo {
    height: 75vh;
  }
}

.tutorial {
  max-width: 100%;
}

.tutorial__h3 {
  color: white;
  font-size: 2rem;
  font-family: gotham-italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.tutorial__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-family: gotham-italic;
}

.tutorial__video {
  max-width: 100%;
  padding: 0.65rem;
}

@media screen and (max-width: 768px) {
  .tutorial__h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .tutorial__h3 {
    font-size: 1rem;
  }
}
