* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*fin de reset*/
@font-face {
  font-family: gisrida;
  src: url(../assets/Fonts/gisrida.ttf);
}

@font-face {
  font-family: gotham-italic;
  src: url(../assets/Fonts/GothamBookItalic.ttf);
}

/* fin de fonts*/
.main {
  height: 80vh;
}

.main__h1 {
  color: #252326;
  font-style: normal;
  font-size: 6rem;
  font-family: gisrida;
}

.main__h2 {
  color: #252326;
  font-size: 2.5rem;
  font-family: gotham-italic;
}

.main__deco {
  text-decoration: none;
}

.main__link:link, .main__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/*fin de hero*/
.section {
  height: 60vh;
  border-radius: 5px;
  background-color: darkgrey;
  margin-left: -11px;
  margin-right: -0px;
}

.section__video {
  max-width: 100%;
}

.section__h2 {
  margin: 3.5%;
  text-align: center;
  color: #252326;
  font-style: normal;
  font-size: 3.5rem;
  font-family: gisrida;
}

.section__p {
  font-size: 1.5rem;
  font-family: gotham-italic;
}

.clientes {
  max-width: 100%;
}

.clientes__carta {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.clientes__textos {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  background-color: #252326;
  color: white;
}

.clientes__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  font-size: 2rem;
  font-family: gotham-italic;
}

.clientes__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-family: gotham-italic;
}

.tutorial {
  max-width: 100%;
}

.tutorial__h3 {
  color: white;
  font-size: 2rem;
  font-family: gotham-italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.tutorial__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-family: gotham-italic;
}
