@import "./parciales/reset";
/*fin de reset*/
@import "./parciales/fuentes";
/* fin de fonts*/
@import "./parciales/hero";
/*fin de hero*/
@import "./parciales/section";
@import "./parciales/conociendo-mas";
@import "./parciales/vars";
@import "./parciales/media-queries";
