@import "./parciales/reset";
@import "./parciales/fuentes";
@import "./parciales/hero";
@import "./parciales/section";
@import "./parciales/conociendo-mas";
@import "./parciales/vars";
@import "./parciales/footer";



