
@import "./vars";


.card {
    display: grid;
    grid-template-rows: 1fr ;
    

}

.textos{
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    background-color: $color_primario;
    color: $color_terciario;

}

.clientes__h2{
    display: flex;
    align-self: center;
    color: $color_terciario;
    font-size: 2rem;
    font-family: gotham-italic;


}

.client__parragraph {
    display: flex;
    align-self: baseline;
    font-family: gotham-italic;
}

