@import "./vars";
@import "./media-queries";

.main {
    height: 80vh;

    &__h1 {
        color: $color_primario;
        font-style: normal;
        font-size: $h1Desktop;
        font-family: gisrida;        
        
    }

    &__h2 {
        color: $color_primario;
        font-size: $h2Desktop;
        font-family: gotham-italic;
    }

    &__deco {
        text-decoration: none;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }
        
    }
    
    @include tablet {
        &__h1 {
            font-size: $h1Tablet;
        }

        &__h2 {
            font-size: $h2Tablet;
        }  
    }

    @include mobile {
        &__h1 {
            font-size: $h1Mobile;
        }

        &__h2 {
            font-size: $h2Mobile;
        }        
    }
}

