@import "./vars";

@mixin desktop {
    @media screen and (max-width: 1280px) {
      @content;
    }
  }

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }   
}

@mixin mobile {
    @media screen and (max-width: 375px) {
        @content;
    } 
}

  