@import "./vars";

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }   
}

@mixin mobile {
    @media screen and (max-width: 320px) {
        @content;
    } 
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  