@import "./vars";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: $color_secundario;

    &:hover,
        &:active {
            transform: scale(1.3);
            color: $color_terciario;
         }
        
}

.img__box {
    max-width: 40%;
}


/*BS modifications*/

.btn {
    color: black;
}

.container-fluid {
    padding: 10px;
}

