@import "./vars";
@import "./media-queries";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;

    &:hover,
        &:active {
            transform: scale(1.3);
            color: $color_terciario;
         }
        
}

.img__box {
    max-width: 40%;
}


/*BS modifications*/

.btn{

    text-decoration: none;
    color: black;

    &:hover,
        &:active {
            transform: scale(1.3);
            color: $color_terciario;
         }
        
}
.container-fluid {
    padding: 10px;
}
