@import "./vars";
@import "./media-queries";

.section {
    height: 60vh;
    border-radius: 5px;
    background-color: $color_secundario;
    margin-left: -11px;
    margin-right: -0px;    

    &__video {
        max-width: 100%;
    }

    &__h2 {
        margin: 3.5%;
        text-align: center;
        color: $color_primario;
        font-style: normal;
        font-size: $h2Desktop;
        font-family: gisrida;
    }

    &__p {
        font-size: $parrafoDesktop;
        font-family: gotham-italic; 
    }

    @include tablet {

        height: 70vh;

        &__h2 {
            font-size: $h2Tablet;
        }

        &__p {
            font-size: $parrafoTablet;
        }

    }

    @include mobile {
            height: 60vh;


        &__h2 {
            font-size: $h2Mobile;
        }

        &__p {
            font-size: $parrafoMobile;
        }

        &__video {
            display: none;
        }
    }
}


