@import "./vars";

.section__height {
    height: 60vh;
    border-radius: 5px;
    background-color: $color_secundario;
    margin-left: -11px;
    margin-right: -0px;    
}

.video {
    max-width: 100%;
}

.main__h22 {
    margin: 3.5%;
    text-align: center;
    color: $color_primario;
    font-style: normal;
    font-size: 3.5rem;
    font-family: gisrida;
}

.main__parragraph {
    font-size: 1.5rem;
    font-family: gotham-italic;    
}
