@import "./vars";

.section {
    height: 60vh;
    border-radius: 5px;
    background-color: $color_secundario;
    margin-left: -11px;
    margin-right: -0px;    

    &__video {
        max-width: 100%;
    }

    &__h2 {
        margin: 3.5%;
        text-align: center;
        color: $color_primario;
        font-style: normal;
        font-size: 3.5rem;
        font-family: gisrida;
    }

    &__p {
        font-size: 1.5rem;
        font-family: gotham-italic; 
    }
}


