@import "./vars";

.tutorial {
   max-width: 100%;

   &__h3 {
    color: $color_terciario;
    font-size: 2rem;
    font-family: gotham-italic;
    display: flex;
    align-self: center;
   }

   &__p {
    display: flex;
    align-self: baseline;
    font-family: gotham-italic;
   }

}

