@import "./vars";
@import "./media-queries";

.tutorial {
   max-width: 100%;

   &__h3 {
    color: $color_terciario;
    font-size: $h3Desktop;
    font-family: gotham-italic;
    display: flex;
    align-self: center;
   }

   &__p {
    display: flex;
    align-self: baseline;
    font-family: gotham-italic;
   }

   &__video {
      max-width: 100%;
      padding: 0.65rem;
   }

   @include tablet {
      &__h3 {
         font-size: $h3Tablet;
      }
   }

   @include mobile {
      &__h3 {
         font-size: $h3Mobile;
      }
   }
}

