//colores

$color_primario: #252326;
$color_secundario: darkgrey;
$color_terciario: white;

//tamaño de fuentes

$h1Desktop: 6rem;
$h1Tablet: 4rem;
$h1Mobile: 2rem;

$h2Desktop: 3rem;
$h2Tablet: 1.5rem;
$h2Mobile: 1rem;

$h3Desktop: 2rem;
$h3Tablet: 1.5rem;
$h3Mobile: 1rem;

$parrafoDesktop: 1.5rem;
$parrafoTablet: 1rem;
$parrafoMobile: 0.8rem;

// tamaño imagenes

$clientesWidth: 100%;

//mixin para media queries

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1080px;





